---
import DefaultLayout from '../layouts/DefaultLayout.astro';

import ImgAsset from '../components/ImgAsset.astro';

import '../styles/pages/index.scss';

const videoModalId = 'videomodal';
const signupUrl = import.meta.env.SIGNUP_URL;
---

<DefaultLayout id="help" title="Help">
  <div id="help-search" class="component offset-header" cp-name="helpSearch">
    <section class="searchForm container-fluid bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2">
            <div class="row">
              <div class="col">
                <h1>Central de Ajuda</h1>
                <!-- <p style="display: none" class="subtitle1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  vel nibh pulvinar, fermentum ligula eget, lobortis metus.
                </p> -->
              </div>
            </div>
            <!-- <div class="row form"> 
              <div class="col-12 col-sm-10">
                <div class="form-outline">
                  <input
                    id="help_search-input"
                    class="form-control"
                    type="text"
                    placeholder="Digite a sua dúvida"
                  />
                  <span class="material-icons-outlined">search</span>
                </div>
              </div>
              <div class="col-12 col-sm-2">
                <a
                  href="javascript:;"
                  id="help_search-trggr"
                  class="btn btn-outline-secondary w-100 bg-white btn-bold">
                  Procurar
                </a>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </section>

    <div class="accordion">
      <div class="container-categories">
        <div style="display: none" class="row row_mobile-width">
          <div
            class="accordion_categories col m-2 m-sm-3 active"
            data-category="1">
            <div class="accordion_categories-content">
              <span>
                <ImgAsset class="icon-inactive" file="help-1.png" alt="Help" />
                <ImgAsset
                  class="icon-active"
                  file="help-1-active.png"
                  alt="Help Active"
                />
              </span>
              <p class="h5">FAQ</p>
            </div>
          </div>
        </div>
      </div>
      <br class="mobile" />
      <div class="container help_list">
        <ul class="help_accordion_category active" data-category="1">
          <p class="h3">FAQ</p>
          <li class="accordion_list" id="accordion-1-1">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-1">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-1"
                  aria-expanded="false">
                  O que é a CALLIGO?
                </button>
              </h5>
              <div
                id="collapse-1-1"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-1"
                data-bs-parent="#accordion-1-1">
                <div class="accordion-body">
                  A CALLIGO é uma plataforma em prol da Saúde Mental. Um
                  ecossistema que conecta psicólogos com outros psicólogos, com
                  pacientes, e além disso, conta com uma variedade de
                  serviços/ferramentas pensados exclusivamente na saúde e
                  bem-estar de todos, no cuidado com a saúde mental, e no
                  crescimento mútuo. Tudo isso de forma gratuita, realizado
                  através do cadastro na plataforma, ambiente tanto do
                  profissional que cuida e recebe cuidados, e ainda do paciente
                  em busca de um tratamento de qualidade.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-2">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-2"
                  aria-expanded="false">
                  Como funciona a CALLIGO?
                </button>
              </h5>
              <div
                id="collapse-1-2"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-2"
                data-bs-parent="#accordion-1-2">
                <div class="accordion-body">
                  A CALLIGO é uma plataforma online, disponível através do
                  Mobile ou Computador, que atua na intermediação do cuidado com
                  a saúde mental. Através de sua plataforma, os psicólogos e
                  pacientes realizam seu cadastro de forma bastante rápida, sem
                  custo, passando a ter acesso as essas ferramentas que vão além
                  da Terapia convencional, até ao seu próprio
                  crescimento/desenvolvimento. As sessões online são realizadas
                  de acordo com suas preferências de valor, e agenda.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-3">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-3"
                  aria-expanded="false">
                  Quem faz parte da equipe da CALLIGO?
                </button>
              </h5>
              <div
                id="collapse-1-3"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-3"
                data-bs-parent="#accordion-1-3">
                <div class="accordion-body">
                  A CALLIGO conta com um time multidisciplinar composto por
                  profissionais de diversos segmentos de atuação. Nosso time é
                  composto por profissionais técnicos em psicologia (no Brasil,
                  e no Exterior), financeiro, advogados, tecnologia, comunicação
                  e marketing.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-4">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-4">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-4"
                  aria-expanded="false">
                  A Plataforma da Calligo é segura?
                </button>
              </h5>
              <div
                id="collapse-1-4"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-4"
                data-bs-parent="#accordion-1-4">
                <div class="accordion-body">
                  Sim! Segurança é um princípio básico e extremamente relevante
                  para a CALLIGO. Seus dados sempre serão tratados de maneira
                  confidencial, e em conformidade com a nova LEI GERAL DE
                  PROTEÇÃO DE DADOS - LGPD. Os psicólogos são capacitados para
                  garantir a segurança da informação, e uso dos dados em toda
                  estrutura. Tudo isso, proporcionando um ambiente de conforto e
                  de muita confiança, além de devidamente aprovados e
                  regularizados junto ao CFP. Você poderá encontrar o selo no
                  rodapé da página.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-5">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-5">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-5"
                  aria-expanded="false">
                  Vou receber lembretes dos meus agendamentos?
                </button>
              </h5>
              <div
                id="collapse-1-5"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-5"
                data-bs-parent="#accordion-1-5">
                <div class="accordion-body">
                  Sim! O paciente e seu respectivo psicólogo receberão um aviso
                  de confirmação por e-mail, constando os detalhes do
                  agendamento assim que a sessão for confirmada.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-6">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-6">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-6"
                  aria-expanded="false">
                  Qual o valor das consultas?
                </button>
              </h5>
              <div
                id="collapse-1-6"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-6"
                data-bs-parent="#accordion-1-6">
                <div class="accordion-body">
                  Os valores das consultas são definidos por você psicólogo, e
                  variam de acordo seus critérios de qualificação. Importante
                  lembrar que pode haver um espaço em sua agenda para realizar o
                  alcance social, ou ainda negociar este atendimento com valores
                  simbólicos, capazes de alcançar a saúde de alguém. Pense
                  nisso!
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-7">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-7">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-7"
                  aria-expanded="false">
                  Como recebo o pagamento da consulta que realizei?
                </button>
              </h5>
              <div
                id="collapse-1-7"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-7"
                data-bs-parent="#accordion-1-7">
                <div class="accordion-body">
                  A CALLIGO conta com um parceiro financeiro que fará o split da
                  transação dividindo imediatamente a transação entre os
                  psicólogos e a Calligo. O tempo de espera para recebimento do
                  seu devido irá variar de acordo com a forma de pagamento, seja
                  PIX ou Cartão de Crédito, e através do seu painel financeiro
                  você irá controlar os seus recebimentos.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-8">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-8">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-8"
                  aria-expanded="false">
                  Os meus dados bancários estão seguros na Plataforma?
                </button>
              </h5>
              <div
                id="collapse-1-8"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-8"
                data-bs-parent="#accordion-1-8">
                <div class="accordion-body">
                  Sim! Utilizamos a criptografia para proteger os dados do seu
                  cartão de crédito. O sistema de pagamento escolhido pela
                  CALLIGO é o mesmo utilizado por grandes corporações e garante
                  segurança em todas as transações financeiras.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-9">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-9">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-9"
                  aria-expanded="false">
                  Como funcionam as sessões online?
                </button>
              </h5>
              <div
                id="collapse-1-9"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-9"
                data-bs-parent="#accordion-1-9">
                <div class="accordion-body">
                  As sessões são realizadas no consultório virtual da CALLIGO,
                  que atende os requisitos HIPAA Compliance e da LGPD, que
                  possuem proteção de dados e sigilo de pacientes. Para
                  acessá-lo não é necessário instalar nenhum aplicativo, você
                  consegue entrar diretamente por um link enviado no seu e-mail
                  15 minutos antes da sessão, ou também diretamente pela
                  plataforma.
                </div>
              </div>
            </div>
          </li>
          <li class="accordion_list" id="accordion-1-10">
            <div class="accordion-item">
              <h5 class="accordion-header" id="heading-1-10">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1-10"
                  aria-expanded="false">
                  Posso realizar a sessão através de um celular?
                </button>
              </h5>
              <div
                id="collapse-1-10"
                class="accordion-collapse collapse"
                aria-labelledby="heading-1-10"
                data-bs-parent="#accordion-1-10">
                <div class="accordion-body">
                  Sim!! Acesse o seu consultório virtual de um computador,
                  tablet ou ainda do celular.
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="ajuda-contato">
      <div class="row">
        <div class="col-12 col-sm-6 ajc-form-container">
          <ImgAsset
            class="ajuda-contato-bg desktop"
            file="ajuda-contato-bg.png"
            alt="Ajuda"
          />
          <div class="ajc-content">
            <p class="h1">Como podemos <br class="mobile" />te ajudar?</p>
            <p class="subtitle1">
              Alguma dúvida ou sugestão? <br class="mobile" />Fale Conosco! <br
              />Em até 48h alguém da nossa equipe irá entrar em contato com
              você.
            </p>
          </div>
          <div class="ajc-info">
            <ul>
              <li>
                <ImgAsset class="img-no-mb" file="email-icon.png" alt="email" />
                <span class="body1" id="email-placeholder"></span>
              </li>
              <!-- <li>
                <img src="/img/phone-icon.png" />
                <span class="body1">(00) 00000-0000</span>
              </li> -->
              <li>
                <a target="_blank" href="https://www.instagram.com/calligobr/">
                  <svg
                    width="30"
                    height="30"
                    viewBox="0 0 30 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                      <path
                        d="M15.005 7.29749C10.7512 7.29749 7.3075 10.745 7.3075 14.995C7.3075 19.2487 10.755 22.6925 15.005 22.6925C19.2587 22.6925 22.7025 19.245 22.7025 14.995C22.7025 10.7412 19.255 7.29749 15.005 7.29749ZM15.005 19.9912C12.2437 19.9912 10.0087 17.755 10.0087 14.995C10.0087 12.235 12.245 9.99874 15.005 9.99874C17.765 9.99874 20.0012 12.235 20.0012 14.995C20.0025 17.755 17.7662 19.9912 15.005 19.9912Z"
                        fill="#5C02FF">
                      </path>
                      <path
                        d="M21.1843 0.0969189C18.4243 -0.0318311 11.5881 -0.0255811 8.82556 0.0969189C6.39806 0.210669 4.25681 0.796919 2.53056 2.52317C-0.354443 5.40817 0.0143075 9.29567 0.0143075 14.9969C0.0143075 20.8319 -0.310692 24.6294 2.53056 27.4707C5.42681 30.3657 9.37056 29.9869 15.0043 29.9869C20.7843 29.9869 22.7793 29.9907 24.8231 29.1994C27.6018 28.1207 29.6993 25.6369 29.9043 21.1757C30.0343 18.4144 30.0268 11.5794 29.9043 8.81692C29.6568 3.55067 26.8306 0.356919 21.1843 0.0969189ZM25.5531 25.5619C23.6618 27.4532 21.0381 27.2844 14.9681 27.2844C8.71806 27.2844 6.21181 27.3769 4.38306 25.5432C2.27681 23.4469 2.65806 20.0807 2.65806 14.9769C2.65806 8.07067 1.94931 3.09692 8.88056 2.74192C10.4731 2.68567 10.9418 2.66692 14.9506 2.66692L15.0068 2.70442C21.6681 2.70442 26.8943 2.00692 27.2081 8.93692C27.2793 10.5182 27.2956 10.9932 27.2956 14.9957C27.2943 21.1732 27.4118 23.6944 25.5531 25.5619Z"
                        fill="#5C02FF">
                      </path>
                      <path
                        d="M23.0075 8.79257C24.0009 8.79257 24.8062 7.98724 24.8062 6.99382C24.8062 6.0004 24.0009 5.19507 23.0075 5.19507C22.0141 5.19507 21.2087 6.0004 21.2087 6.99382C21.2087 7.98724 22.0141 8.79257 23.0075 8.79257Z"
                        fill="#5C02FF">
                      </path>
                    </g>
                    <defs>
                      <clipPath id="clip0">
                        <rect width="30" height="30" fill="white"></rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>

                <a target="_blank" href="https://www.facebook.com/calligobr">
                  <svg
                    width="31"
                    height="30"
                    viewBox="0 0 31 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0)">
                      <path
                        d="M4.25 30H15.5V19.6875H11.75V15H15.5V11.25C15.5 8.1425 18.0175 5.625 21.125 5.625H24.875V10.3125H23C21.965 10.3125 21.125 10.215 21.125 11.25V15H25.8125L23.9375 19.6875H21.125V30H26.75C28.8175 30 30.5 28.3175 30.5 26.25V3.75C30.5 1.68125 28.8175 0 26.75 0H4.25C2.18125 0 0.5 1.68125 0.5 3.75V26.25C0.5 28.3175 2.18125 30 4.25 30Z"
                        fill="#5C02FF">
                      </path>
                    </g>
                    <defs>
                      <clipPath id="clip0">
                        <rect
                          width="30"
                          height="30"
                          fill="white"
                          transform="translate(0.5)">
                        </rect>
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 ajc-form-container align-middle">
          <div class="ajc-form-content">
            <div class="form-wrapper" style="min-height:300px">
              <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSeRZg6TLB_UTk-lE8L_iRPJJ_GVSij-my3WXnpmHc3L9B9jAg/viewform?embedded=true"
                width="100%"
                height="400px">
                Loading…
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade modal_confirmacao-newsletter"
    id="modal_confirmacao-newsletter"
    tabindex="-1"
    aria-labelledby="modal_confirmacao"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p class="h5 text-center">Mensagem enviada com sucesso!</p>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close">
          </button>
        </div>
        <div class="modal-body">
          <p class="body1"></p>
        </div>
      </div>
    </div>
  </div>
  <script is:inline src="/public/js/help.js"></script>
  <script>
    function createMailtoLink() {
      var user = 'contato';
      var domain = 'calligo';
      var tld = 'com.br';
      var emailAddress = user + '@' + domain + '.' + tld;

      var emailLink = document.createElement('a');
      emailLink.href = 'mailto:' + emailAddress;
      emailLink.innerText = emailAddress;

      document.getElementById('email-placeholder').appendChild(emailLink);
    }

    createMailtoLink();
  </script>
</DefaultLayout>
