---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<Head />
<Header />
<body>
  <div id="manifest">
  <main class="main">
    <div id="intro-calligo" class="container-fluid mobile mobileFlex">
      <div class="intro-image">
          <img src="../img/manifesto-bg-mobile.png" class="slider-image">
        </div>
      </div>
     <div class="manifest-container">
         <div class="row">
             <div class="col-md"></div>
             <div class="col-12 col-sm-5 col-md-6 col-xl-7">
                  <div class="manifest-text">
                     <h1 class="text__primary">Nosso propósito</h1>
                     <p class="h3 mb-4 mt-5">Em transformação!</p>
                     <p class="body1 fs-5">
                          A vida nunca permanece estática, a cada momento, uma mudança que é a direção na qual ela se movimenta, é a forma como ela acontece. Acreditamos que falar sobre a vida, é falar de transformação.<br>
                          O olhar humano percebe o produto final, o somatório de todas as reações químicas, resultado das leis da natureza, cuja equação geral jamais foi descrita e continua a encantar a humanidade desde o princípio, como um milagre. Assim como no fenômeno da evolução de uma borboleta, somos de fases, de metamorfose e buscamos liberdade. Mas tudo começa internamente e confiamos que a sabedoria do autoconhecimento liberta e por isso somos representados pela Caligo beltrao, uma borboleta-coruja brasileira.<br>
                          Desejamos nos desenvolver e viver cada fase sem ansiedade, na esperança ativa de que não
                          importa a fase em que esteja, cada um já é ator na mudança do seu ecossistema. Cada dor e cor própria, forma um ambiente diverso, peculiar e especial.<br>
                          A metamorfose da humanidade está em andamento. Somos um processo de humanização. E estamos aqui para ajudar a desenvolver as ferramentas para essa evolução.<br>
                          Que cada fase manifeste um mundo de encontro, convívio e também ajude a tornar outros
                          mundos mais autônomos, interessantes, alegres, com a esperança da fase que está por vir.
                     </p>
                     <p class="h3 mt-4">
                         A quem vontade sinta: Call-I-Go!
                     </p>
                 </div>
             </div>
         </div>
     </div>
    </main>
    <Footer />
  </div>
</body>
</html>
