---
import Defaultlayout from '../layouts/DefaultLayout.astro';

import ImgAsset from '../components/ImgAsset.astro';
import '../styles/pages/index.scss';
---

<Defaultlayout id="therapist" title="Therapist">
  <div id="terms">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="h3">Política de Privacidade da Calligo</p>
          <br /><br />
          <p>
            Em busca da melhor forma de proteger a sua privacidade, esta
            política define as bases sobre as quais processamos todos os dados
            pessoais recolhidos, ou que nos são fornecidos por você.
          </p>

          <p>
            Nós oferecemos serviços que atendem os interesses tanto dos
            profissionais de psicologia quanto dos seus pacientes, através de
            dispositivos usados por estes. Dessa forma, o processamento dos seus
            dados é necessário para a execução do contrato de prestação dos
            serviços da Plataforma e para proteger a sua privacidade. Assim,
            leia atentamente esta política de privacidade, elaborada em
            conformidade com a Lei nº 12.965 de 23 de abril de 2014 (Marco Civil
            da Internet), com a Lei nº 13.709, de 14 de agosto de 2018 (Lei de
            Proteção de Dados Pessoais) e com o Regulamento UE nº 2016/679 de 27
            de abril de 2016 (Regulamento Geral Europeu de Proteção de Dados
            Pessoais - RGDP), assim como as determinações do Conselho Federal de
            Psicologia, no que se refere o sigilo e guarda de informações e
            documentos.
          </p>
          <p>
            Você tem que estar ciente de que para utilizar a Plataforma deverá
            anuir com todos os termos desta Política de Privacidade.
          </p>
          <p>
            Assim, o atendimento de psicoterapia somente poderá ser realizado
            pela plataforma se os dados do usuário estiverem cadastrados na
            Plataforma.
          </p>
          <p>
            Para garantir a segurança de todos os envolvidos, havendo a ausência
            de cadastro ou o descadastramento do usuário, este não receberá o
            atendimento de psicoterapia.
          </p>
          <p>
            É importante esclarecer que, havendo qualquer alteração normativa ou
            necessidade de adaptação da Plataforma a eventuais novos serviços a
            serem ofertados, a Política de Privacidade poderá ser atualizada.
          </p>
          <p>
            Dessa forma, sempre que houver atualização desta política,
            encaminhamos a você um comunicado, para que possa consultar o novo
            e, assim, acordar ou não com os seus termos. No surgimento de
            qualquer dúvida relativa ao tratamento dos seus dados pessoais, você
            poderá enviar e-mail para o endereço eletrônico <a
              href="mailto:ouvidoria@calligo.com.br">
              ouvidoria@calligo.com.br
            </a>.
          </p>

          <p class="bold">1. Dados pessoais que coletamos</p>
          <p>
            Coletamos as suas informações por meio do cadastro realizado pelo
            próprio Usuário na Plataforma (Dados de Cadastro), e por meio do uso
            de cookies ou de outra tecnologia que permita armazenar informações
            a respeito da navegação do Usuário no Site e/ou Aplicativo
            (“Registros de Navegação”).
          </p>
          <p>
            Os dados que coletamos podem incluir o quanto segue: Nome e dados de
            contato: Seu nome e sobrenome, email, endereço, número de telefone e
            outros dados de contato semelhantes.
          </p>
          <p>
            Credenciais: Senhas, dicas de senha e informações de segurança
            semelhantes utilizadas para autenticação, IP e acesso de contas.
            Dados demográficos: Dados sobre você, por exemplo, idade, sexo,
            estado de saúde, profissão, vida sexual, orientação sexual, etc.
          </p>
          <p>
            Dados de pagamento: Dados para processar pagamentos, como o número
            de seu meio de pagamento (por exemplo, um número de cartão de
            crédito) e o código de segurança associado ao seu meio de pagamento.
          </p>
          <p class="bold">
            2. Como os dados pessoais serão utilizados pela Plataforma
          </p>
          <p>
            Usamos os seus dados pessoais para fornecer-lhe a Plataforma, de
            forma encriptada, bem como para aprimorá-la e administrá-la,
            inclusive para garantir a segurança.
          </p>
          <p>
            Em cada uma das situações onde temos o seu consentimento,
            utilizaremos as suas informações pessoais para fornecer-lhe
            publicidade direcionada e promover a Plataforma com o seu
            consentimento.
          </p>
          <p>
            Também usamos os dados pessoais para operar nossos negócios,
            incluindo a análise de nosso desempenho, o cumprimento de nossas
            obrigações legais, o desenvolvimento da nossa força de trabalho e a
            realização de pesquisas.
          </p>
          <p>
            Ressalta-se que, para a utilização dos seus dados pessoais para
            interesse da Plataforma, todo o cadastro será tratado de forma
            correta seguindo a Lei Geral de Proteção de Dados.
          </p>
          <p>
            2.1. Para a execução do contrato de prestação dos serviços celebrado
            entre a Calligo e você, utilizaremos a sua informação para:
          </p>
          <p>a) o notificar sobre alterações dos serviços da Plataforma;</p>
          <p>b) fornecer-lhe apoio;</p>
          <p>c) aplicar os nossos termos, condições e políticas;</p>
          <p>
            d) administrar a Plataforma, incluindo a resolução de problemas;
          </p>
          <p>
            e) permitir que o serviço de mensagens e vídeos da Plataforma
            funcione se optar utilizar esta função;
          </p>
          <p>
            f) permitir a comunicação do Usuário Profissional da Psicologia com
            o Usuário Paciente, e vice-versa.
          </p>
          <p>
            g) em se tratando de usuário menor ou representado por
            curador/tutor: autorizar acesso aos responsáveis legais por esses
            Usuários.
          </p>
          <p>
            2.2. Para cumprir com as obrigações legais da Calligo, seus dados
            serão utilizados para ajudar a detectar abusos, fraude e atividades
            ilegais na Plataforma;
          </p>
          <p>
            2.3. De acordo com os interesses legítimos da Calligo de fornecer
            uma Plataforma eficiente e dinâmica, serão utilizadas as suas
            informações para:
          </p>
          <p>a) garantir a sua proteção e segurança;</p>
          <p>
            b) garantir que tem idade suficiente para utilizar a Plataforma.
          </p>
          <p class="bold">
            3. Os Dados são de uso exclusivo da plataforma Calligo, onde estes
            serão tratados para garantir a melhor continuidade da plataforma.
          </p>
          <p>
            3.1. A Plataforma possui um Núcleo de Operações e Segurança da
            Informação, que analisará os procedimentos internos de processamento
            dos dados pessoais recolhidos, para cumprimento da legislação
            vigente, através da aplicação de medidas de segurança, técnicas e
            administrativas, que visam proteger os dados pessoais coletados,
            para que estes não sejam expostos a terceiros não autorizados.
          </p>
          <p>
            3.2. Os seus dados pessoais não serão partilhados a terceiros não
            autorizados, salvo por exigência legal ou ordem judicial legalmente
            vinculativa.
          </p>
          <p>
            3.3. Forma de pagamento será em moeda corrente do país de origem do
            pagador, devendo a plataforma seguir as regras tributárias e
            gerenciamento financeiro também do país de origem do pagamento.
          </p>
          <p>
            3.4. Os seus dados pessoais serão partilhados apenas com o Usuário
            Profissional da psicologia que irá atendê-lo e com os Supervisores
            Técnicos envolvidos, através de seu consentimento expresso.
          </p>
          <p>
            i.O prontuário do Usuário Paciente será armazenado, de forma segura
            e criptografada, na Plataforma, no prazo mínimo de 5 anos, conforme
            artigo 15 da Resolução nº 06 de 29 de março de 2020 do Conselho
            Federal de Psicologia.
          </p>
          <p>
            ii.O Usuário Profissional terá acesso ao prontuário em 24 (vinte e
            quatro) horas, enquanto estiver operando na Plataforma.
          </p>
          <p>
            iii.Se o Usuário Profissional desligar-se da Plataforma, este não
            terá mais acesso ao prontuário, que ficará lacrado e criptografado,
            até o retorno do psicólogo responsável.
          </p>
          <p>
            iv.O Usuário Paciente receberá um aviso da Calligo sobre a saída do
            profissional responsável pelo seu atendimento da Plataforma, momento
            em que o Usuário Paciente poderá autorizar, expressamente, a troca
            de psicólogo/profissional responsável pelo seu atendimento e que
            este acesse o seu prontuário, para dar continuidade ao seu
            tratamento.
          </p>
          <p>
            v.Se o Usuário Paciente optar, expressamente, pela troca de
            profissional responsável pelo seu atendimento, este poderá autorizar
            o acesso àquele ao seu prontuário, para dar continuidade ao seu
            tratamento. Neste caso, após prévia comunicação ao Usuário, o
            Supervisor do profissional, assim como o Responsável Técnico da
            Calligo, também terão acesso a alguns de seus dados.
          </p>
          <p>
            vi.O Responsável Técnico da Calligo terá acesso aos documentos e
            dados do Usuário Paciente quando houver risco iminente de suicídio,
            homicídio, abuso; quando houver denúncia de Usuário Paciente ou do
            Usuário Profissional; quando houver contestação do paciente com
            relação a alguma sessão realizada ou não.
          </p>
          <p>
            vii. Em caso de emergência ou de disputa financeira, a Calligo
            entrará em contato com o responsável financeiro, em se tratando de
            usuário menor ou incapaz.
          </p>
          <p>
            3.5. A Calligo é proibida de fornecer dados dos usuários às empresas
            conveniadas, assim como não aceitará o recebimento de qualquer valor
            para tal fornecimento.
          </p>
          <p>
            Eventualmente, outros tipos de dados não previstos expressamente
            nesta Política de Privacidade poderão ser coletados, desde que sejam
            fornecidos com o consentimento do usuário, ou, ainda, que a coleta
            seja permitida ou imposta por lei.
          </p>
          <p class="bold">4. Cookies</p>
           Cookies é a forma utilizada para gerenciar a conexão com qualquer
          plataforma, a plataforma adotou o padrão regulamentado pelo CERT –
          Centro de Estudos, Resposta e Tratamentos de Incidentes de Segurança
          no Brasil e Registro.Br seguindo os padrões da Lei Geral de Proteção
          de Dados.
          <p>
            4.1.Para os fins descritos nos itens 2, 2.1 e 2.2, com a adesão
            desta política de privacidade, você expressamente autoriza que a
            Calligo armazene, trate, processe e utilize as seguintes informações
            a respeito da navegação do Usuário na Plataforma, que integram os
            “Registros de Navegação”:
          </p>
          <p>a)Localização geográfica;</p>
          <p>b)Sistema operacional utilizado pelo Usuário;</p>
          <p>c)Navegador e suas respectivas versões;</p>
          <p>d)Resolução de tela;</p>
          <p>e) (linguagem de programação adotada pela plataforma);</p>
          <p>f)Endereço IP;</p>
          <p>
            g)Código ID (IMEI) do aparelho mobile pelo qual o Usuário acessou o
            Site e/ou Aplicativo;
          </p>
          <p>
            h)Informações referentes à data e hora de uso do Site e/ou
            Aplicativo por um determinado Usuário, a partir de um determinado
            Endereço IP;
          </p>
          <p>
            i)Informações referentes às quantidades de cliques e tentativas de
            uso da Plataforma, bem como de páginas acessadas pelo Usuário.
          </p>
          <p>4.3. Onde os seus dados serão armazenados</p>
          <p>
            Os seus dados serão tratados e armazenados em toda a infraestrutura
            da Calligo, na qual segue as melhores práticas de alta
            disponibilidade e balanceamento e segurança, tudo em conformidade
            com a Lei Geral de Proteção de Dados. Para fazer contato via webcam
            e telefone, a Calligo terá interface com a Twilio, uma das
            tecnologias mais seguras disponíveis no mercado.
          </p>
          <p class="bold">5. Seus Direitos</p>
          <p>
            Em resumo, de acordo com a legislação vigente, você tem o direito de
            confirmar e acessar os seus dados pessoais; retificar/alterar,
            revogar consentimento ao tratamento dos dados, eliminar e limitar o
            tratamento dos dados pessoais fornecidos; opor em relação ao uso de
            seus dados e à utilização de seus dados às decisões automatizadas;
            solicitar o envio de um relatório pela Plataforma dos seus dados
            pessoais cadastrados, assim como solicitar a sua portabilidade,
            conforme disposto na Lei Geral de Proteção de Dados e abaixo
            detalhado:
          </p>
          <p>
            a) O direito de pedir, de forma gratuita, a confirmação sobre o
            processamento de seus dados pessoais e acesso a uma cópia dos dados
            pessoais armazenados.
          </p>
          <p>
            b) O direito de solicitar a correta retificação ou remoção dos seus
            dados pessoais ou a restrição do processamento dos seus dados
            pessoais.
          </p>
          <p>
            c) Quando o tratamento dos seus dados pessoais for necessário para a
            execução de um contrato consigo e o tratamento for realizado de
            forma automática, você tem o direito a receber os seus dados em um
            formato estruturado, de uso corrente e de leitura automática, ou a
            ter os seus dados pessoais transferidos diretamente à outra empresa,
            quando for tecnicamente viável, através de portabilidade.
          </p>
          <p>
            d) O direito a não estar sujeito a qualquer decisão individual
            automática, incluindo a criação de perfis por algoritmos, que
            produzam efeitos jurídicos sobre si ou que o afetem de forma
            significativa similar.
          </p>
          <p>
            e) O direito de se opor ao processamento dos seus dados pessoais
            quando este se der com base no interesse legítimo da Calligo e para
            fins de marketing direto.
          </p>
          <p>
            f) O direito a apresentar reclamações perante o regulador de
            proteção de dados competente.
          </p>
          <p>
            g) O direito a solicitar à Plataforma que lhe sejam encaminhados os
            documentos salvos em seu prontuário, tais como: declaração, atestado
            psicológico, relatório, laudo psicológico, parecer psicológico,
            discriminados no artigo 8º da Resolução nº 6, de 29 de março de
            2020, do Conselho Federal de Psicologia.
          </p>
          <p>
            Tais direitos poderão ser exercidos por você, através de
            requerimento expresso enviado ao endereço eletrônico <a
              href="mailto:psicologia@calligo.com.br;">
              psicologia@calligo.com.br.
            </a>
          </p>
          <p class="bold">
            6. Quanto tempo os seus dados pessoais serão armazenados na
            Plataforma
          </p>
          <p>
            Os seus dados pessoais, inclusive o prontuário clínico, serão
            conservados de acordo com a legislação corrente para dados médicos,
            em conformidade com a Lei Geral de Proteção de Dados e Resolução nº
            6, de 29 de março de 2020, do Conselho Federal de Psicologia.
            Ressalta-se que, os seus registros de acesso serão coletados e
            armazenados por, pelo menos, cinco anos, em obediência às Resoluções
            do Conselho Federal de Psicologia 01/2009 e 06/2019.
          </p>
          <p>
            Após o encerramento do fornecimento de nossos serviços, a Plataforma
            somente conservará os seus dados pessoais se a Calligo tiver um
            propósito comercial legítimo de manter tais dados ou quando estiver
            sujeita a uma obrigação legal e/ou regulatória ou, ainda, quando a
            manutenção dos dados for necessária para cumprimento de ordem
            judicial, no âmbito de processos judiciais e/ou administrativos e/ou
            questionamento de terceiros, em razão das atividades desempenhadas
            pelo Usuário na Plataforma.
          </p>
          <p>
            Também serão conservados os dados pessoais, se for necessário, para
            a instauração, exercício ou defesa de reivindicações legais.
          </p>
          <p class="bold">
            7. Links de Terceiros Os Sites e/ou Aplicativos poderão conter links
            para website(s) de terceiros. Ao aderir esta política de
            privacidade, você está ciente e concorda que a existência desses
            links não constitui endosso ou patrocínio de website(s) de terceiros
            e reconhece estar sujeito aos termos de uso e políticas de
            privacidade do(s) website(s) respectivo(s).
          </p>
          <p class="bold">8. Reclamações e Contato</p>
          <p>
            Havendo a necessidade de fazer qualquer reclamação e/ou contato
            sobre a forma como tratamos os seus dados pessoais, por favor
            contate a Calligo, de preferência através do endereço eletrônico <a
              href="mailto:ouvidoria@calligo.com.br;">
              ouvidoria@calligo.com.br
            </a>, para que a Calligo trate de processar o seu pedido o mais
            rapidamente possível. Isto acontece sem prejuízo do seu direito de
            enviar uma reclamação à autoridade de proteção de dados relevante.
          </p>
          <p class="bold">9. Atualizações</p>
          <p>
            Notificaremos todos os usuários de todas as alterações de conteúdo
            desta política de dados, através de uma notificação providenciada
            por meio da Plataforma.
          </p>
          <p>
            Contudo, sugere-se que seja verificado pelo usuário, regularmente, a
            data da "Última atualização" na parte superior desta política, que
            reflete a data efetiva da política em vigor. O seu acesso ou
            utilização contínua da Plataforma após a data da política atualizada
            constitui a sua aceitação da política atualizada. Caso não concorde
            com a política atualizada, deve deixar de acessar ou utilizar a
            Plataforma.
          </p>
          <p class="bold">10. Legislação aplicável e foro</p>
          <p>
            Para a solução das controvérsias decorrentes do presente
            instrumento, será aplicado integralmente o Direito brasileiro.
          </p>
          <p>
            Os eventuais litígios deverão ser apresentados no foro da comarca em
            que se encontra a sede do editor da plataforma.
          </p>
        </div>
      </div>
    </div>
  </div>
</Defaultlayout>
