---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---
<Head />
<Header />
<div id="terms">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class=WordSection1>

					<p class="h3">Termos e Condições de Uso</p>
					<br><br>

					<p>Por meio dos presentes Termos e Condições de Uso (“Termos”), a Calligo 
										Tecnologia e Serviços Ltda. (“CALLIGO”) estabelece condições para utilização de sua 
										plataforma digital (a “Plataforma”) pelo (a) PROFISSIONAL, acessível pela internet 
										(conforme definição abaixo).</p>
					<p class="bold">1. DEFINIÇÕES: Para os fins destes Termos, consideram-se:</p>
					<p>1.1. Internet: o sistema constituído pelo conjunto de protocolos lógicos, 
										estruturado em escala mundial para uso público e irrestrito, com a finalidade de 
										possibilitar a transferência de dados entre terminais por meio de diferentes redes.</p>
					<p>1.2. Senha: conjunto de caracteres que podem ser constituídos por letras 
										e/ou números, cuja finalidade é verificar a identidade do Usuário para acesso ao Site 
										e/ou Aplicativo.</p>
					<p>1.3. Plataforma: sites e aplicativos da CALLIGO pelos quais o Usuário pode 
										acessar os serviços e conteúdos disponibilizados. </p>
					<p>1.4. Usuários (ou “Usuário”, quando individualmente considerado): todas as 
										pessoas físicas que acessem a Plataforma, maiores ou menores de 18 (dezoito) anos ou 
										emancipadas e totalmente capazes de praticar os atos da vida civil ou os absolutamente 
										ou relativamente incapazes devidamente representados ou assistidos.</p>
					<p>1.5. Profissional: Quando mencionar especificamente o profissional da 
										psicologia.</p>
					<p>1.6. Supervisionado (a): Quando mencionar especificamente o profissional para o 
										qual o (a) supervisor (a) oferece suporte de caráter técnico ou clínico, 
										relacionado à área de psicologia e saúde mental, em caráter de rotina ou 
										emergencial (on-call).</p>
					<p>1.7. Supervisor (a): Quando mencionar especificamente o profissional prestador de 
										serviços de supervisão técnica.</p>
					<p>1.8. Dado pessoal: Qualquer informação relativa ao usuário identificada ou 
										identificável. (Exemplos: nome, RG, CPF, CEP gênero, data e local de nascimento, 
										telefone, endereço residencial, retrato em fotografia, prontuário de saúde, cartão 
										bancário, renda, histórico de pagamentos, hábitos de consumo, preferências de lazer; 
										endereço de IP (Protocolo da Internet) e cookies, entre outros.)</p>
					<p>1.9. Processamento de dados: em conformidade com as regras da Lei Geral 
										de Proteção de Dados (LGPD) e normas do Conselho Federal de Psicologia. </p>
					<p class="bold">2. ACEITE DOS TERMOS E CONDIÇÕES DE USO: Ao acessar os sites e/ou 
										aplicativos da CALLIGO, o Usuário concorda e aceita integralmente as disposições dos 
										presentes Termos, assim como o processamento dos seus dados pessoais para fins 
										específicos, com a devida segurança e em observância à Lei Geral de Proteção de Dados 
										e Regulamento Geral sobre a Proteção de Dados, respeitando o sigilo determinado pelas 
										normas específicas e regulamentos do Conselho Federal de Psicologia, conforme abaixo 
										previstos.</p>
					<p>2.1. No que se refere ao processamento de dados pessoais, destaca-se a sua 
										necessidade para a execução dos serviços a serem prestados pela Plataforma, 
										ressaltando que os referidos dados serão resguardados com o devido sigilo, inexistindo 
										qualquer divulgação dos mesmos a terceiros.</p>
					<p class="bold">3. O presente contrato não se reveste de natureza trabalhista, tampouco 
										implica obrigações gerenciais ao (à) PROFISSIONAL, que prestará seus serviços à 
										CALLIGO sem qualquer subordinação, assim como sem imposição de não eventualidade 
										e metas a serem atingidas. O dia e horário de atendimento serão definidos de acordo 
										com a disponibilidade da agenda do (a) PROFISSIONAL.</p>
					<p class="bold">4. CADASTRO</p>
					<p>A Plataforma poderá ter áreas de conteúdo aberto e de conteúdo e/ou serviços 
										restritos. Para que o Profissional acesse conteúdo e/ou serviços restritos, será 
										necessário realizar cadastro, mediante a criação de um perfil com login e Senha, e/ou 
										fornecimento de certos dados pessoais de cadastro (“Dados de Cadastro”), tais como: 
										nome completo, endereço, e-mail, nº de registro no Conselho Regional de Psicologia e 
										de CPF, fotografia do (a) PROFISSIONAL e de seu consultório. Outros Dados de Cadastro 
										para identificação do Usuário e/ou acesso à Plataforma poderão ser solicitados, caso 
										sejam necessários para a identificação do Usuário e/ou para acesso do Usuário ao 
										conteúdo e/ou serviços restritos.</p>
					<p>4.1. O Usuário se responsabiliza pela precisão e veracidade dos dados 
										informados e reconhece que a inconsistência destes poderá implicar a impossibilidade 
										de acessar a Plataforma. </p>
					<p>4.2. É de inteira responsabilidade do Usuário pela guarda, sigilo e boa 
										utilização do login e senhas cadastrados, isentando a CALLIGO de qualquer 
										responsabilidade por seu uso indevido ou inadvertido</p>
					<p>4.3. O login e senha só poderão ser utilizados pelo Usuário cadastrado, sendo 
										expressamente proibido o compartilhamento dessas informações com quaisquer 
										terceiros.</p>
					<p>4.4. O (a) PROFISSIONAL poderá, a qualquer momento, requerer a exclusão 
										da sua conta na Plataforma, observando o prazo previsto no item 4.5, ficando ressalvada 
										a guarda, pela CALLIGO, das informações e/ou dados do Usuário e de utilização da conta, 
										cuja manutenção seja imposta em razão de obrigações legais e/ou regulatórias ou, 
										ainda, quando for necessária para cumprimento de ordem judicial, no âmbito de 
										processos judiciais e/ou administrativos e/ou questionamento de terceiros, em razão 
										das atividades desempenhadas pelo Profissional na Plataforma.</p>
					<p>4.5. A CALLIGO terá o prazo máximo de 30 (trinta) dias úteis para efetivar a 
										exclusão da conta do (a) PROFISSIONAL, considerando a necessidade remanejamento 
										de agenda e de comunicação com os pacientes. </p>
					<p>4.6. A Plataforma é proibida de processar os dados pessoais do Usuário para 
										fins discriminatórios, ilícitos ou abusivos.</p>
					<p>4.7. Os dados pessoais do Usuário serão tratados por um responsável técnico 
										pela Segurança da Informação, para garantir que o processamento dos dados 
										cadastrados esteja de acordo com a Lei de Proteção de Dados, Regulamento Geral sobre 
										a Proteção de Dados e Conselho Federal de Psicologia.</p>
					<p>4.8. O pedido de exclusão de conta e revogação do consentimento, referente 
										ao item 2 e 3.4, deverá ser realizado através de requerimento expresso, enviado ao 
										endereço eletrônico <a href="mailto:contato@calligo.com.br">contato@calligo.com.br.</a></p>
					<p class="bold">5. OBRIGAÇÕES DO PROFISSIONAL E REGRAS DE CONDUTA: </p>
					<p>Constituem obrigações do Usuário:</p>
					<p>5.1. Estar adimplente em relação ao seu cadastro profissional (CRP).</p>
					<p>5.2. Agir em conformidade com a ética profissional, observando a legislação 
										e determinações do Conselho Federal de Psicologia, quando se tratar de Usuário 
										Profissional.</p>
					<p>5.3. Respeitar o sigilo profissional a fim de proteger, por meio da 
										confiabilidade, a intimidade das pessoas, grupos ou organizações, a que tenha acesso 
										no exercício profissional, conforme Código de Ética do Psicólogo, artigo 9º. </p>
					<p>5.4. Informar aos pacientes a necessidade de elaboração de documentos 
										psicológicos – tais como: declaração, atestado psicológico, relatório, laudo psicológico, 
										parecer psicológico -, e seu armazenamento na plataforma, em conformidade com a 
										Resolução nº 6 de 29 de março de 2020, do Conselho Federal de Psicologia</p>. 
					<p>5.5. Utilizar a Plataforma somente para fins lícitos, relativos à finalidade 
										proposta pela CALLIGO, a qual não autoriza a prática de publicidade, comércio aluguel 
										de produtos e/ou serviços, ou qualquer angariação para fins comerciais; utilizar os 
										Serviços, sem o expresso consentimento por escrito da CALLIGO, para qualquer 
										finalidade comercial ou não autorizada, incluindo para comunicar ou promover qualquer 
										angariação ou anúncio comercial ou para fins de spamming, entre outros que não façam 
										parte da atividade da Plataforma.</p>
					<p>5.6. Não utilizar a plataforma para hackear sistemas de segurança.</p>
					<p>5.7. Não utilizar ou tentar utilizar a conta, serviço ou sistema de outra pessoa 
										sem autorização da CALLIGO, ou criar uma identidade falsa nos Serviços.</p>
					<p>5.8. Não praticar atos que possam tornar a plataforma disruptiva ou falar em 
										nome da plataforma, uma vez que somente a CALLIGO pode expor opiniões sobre esta.</p>
					<p>5.9. Não praticar atos que gerem a concorrência desleal e /ou publicidade 
										ilícita e/ou enganosa.</p>
					<p>5.10. Não gravar, filmar, fotografar, imprimir (printar), as sessões realizadas 
										por vídeo chamadas, assim como as telas que tiverem informações, relativas às 
										respectivas sessões, que eventualmente acessar a partir da Plataforma. </p>
					<p>5.11. Não pode distribuir, licenciar, transferir, ou vender, total ou 
										parcialmente, qualquer um dos serviços ou qualquer obra derivada dos mesmos, 
										disponibilizados pela Plataforma.</p>
					<p>5.12. Não pode incorporar a Plataforma, ou qualquer parte da mesma, em 
										qualquer outro programa ou produto, sob pena de a CALLIGO se recusar o serviço, 
										cancelar contas ou limitar o acesso aos serviços segundo o critério exclusivo da CALLIGO.</p>
					<p>5.13. Não utilizar a Plataforma de modo a criar um conflito de interesses ou 
										comprometer as finalidades dos serviços.</p>
					<p>5.14. Não utilizar a Plataforma para carregar, transmitir, distribuir, armazenar 
										ou disponibilizar de outro modo, por qualquer meio: ficheiros que 
										contenham vírus, trojans, worms, bombas lógicas ou outros materiais 
										que sejam maliciosos ou nocivos do ponto de vista tecnológico; 
										publicidade não solicitada ou não autorizada, angariações, materiais 
										promocionais, correio não solicitado, spam, mensagens em cadeia, 
										esquemas de pirâmide ou qualquer outra forma de angariação proibida; 
										informações privadas de qualquer terceiro, incluindo endereços, 
										números de telefone, endereços de correio eletrônico, o número e 
										elementos do documento de identificação pessoal (por ex., números da 
										Segurança Social, números de passaporte) ou números de cartão de 
										crédito; materiais que violem ou possam violar qualquer direito de autor, 
										marca comercial ou outro direito de propriedade intelectual ou direito à 
										privacidade de qualquer outra pessoa; materiais que difamem qualquer 
										pessoa ou que sejam obscenos, ofensivos, pornográficos, incitadores do 
										ódio ou inflamatórios; materiais que constituam, encorajem ou forneçam 
										instruções para a prática de um crime, de atividades perigosas ou de 
										automutilação; materiais deliberadamente concebidos para provocar ou 
										antagonizar as pessoas, especialmente para fins de trolling e bullying, 
										“cura gay”/reversão sexual, ou que visem assediar, lesar, magoar, 
										assustar, perturbar, envergonhar ou preocupar as pessoas; materiais que 
										contenham qualquer tipo de ameaça, incluindo ameaças de violência 
										física, emocional, ideológica e/ou psicológica; materiais racistas ou 
										discriminatórios, incluindo a discriminação com base na raça, religião, 
										idade, sexo, localização geográfica, nacionalidade, incapacidade ou 
										sexualidade de qualquer pessoa; respostas, réplicas, comentários, 
										opiniões, análises ou recomendações para os quais o Usuário não possua 
										a devida licença ou qualificações; materiais que, segundo o critério 
										exclusivo da CALLIGO, sejam censuráveis ou restrinjam ou impeçam a 
										utilização da Plataforma por qualquer outra pessoa, ou que possam expor
										a CALLIGO, a Plataforma ou os seus Usuários a qualquer tipo de dano ou 
										responsabilidade.</p>
					<p>5.15. Prestar serviços de psicologia de natureza clínica - compreendendo 
										diagnóstico e psicoterapia - aos pacientes cadastrados na CALLIGO, exclusivamente 
										dentro da Plataforma CALLIGO, através das ferramentas disponibilizadas por esta, nos 
										horários pré-agendados.</p>
					<p>5.16. Comunicar ao paciente, com a antecedência de 24 (vinte e quatro) horas 
										e de forma justificada, através da Plataforma CALLIGO, a necessidade de alteração de 
										horário da sessão, nos casos em que o Profissional estiver impossibilitado de prestar os 
										seus serviços conforme pré-agendado. </p>
					<p>5.16.1. O paciente também deverá realizar as demarcações com a antecedência 
										mínima de 24 horas. Sendo a sessão de psicoterapia cancelada ou demarcada 
										posteriormente a esse prazo, esta será debitada do plano contratado, como se esta 
										tivesse sido realizada na data previamente agendada, não sendo o valor estornado ao 
										paciente. </p>
					<p>5.17. O atendimento psicoterápico não terá duração definida, podendo ser 
										suspenso a qualquer momento por ambas as partes, com aviso prévio de 48 horas. </p>
					<p>5.18. A relação existente entre o (a) PSICÓLOGO (A) e o (a) PACIENTE será 
										estritamente profissional, não sendo permitido o envolvimento pessoal entre estes, 
										inclusive através de redes sociais, tais como Instagram, Whatsapp, Facebook, etc.</p>
					<p>5.19. As sessões de psicoterapia em que o (a) PROFISSIONAL não comparecer, 
										sem prévio cancelamento, conforme item 5.15, este não receberá os respectivos 
										honorários, uma vez que este é remunerado por atendimento realizado.</p>
					<p>5.19.1. A partir de 02 faltas consecutivas, sem aviso e injustificadas, durante o 
										tratamento, será considerado que o atendimento foi interrompido pelo (a) 
										PROFISSIONAL, independemente de culpa, sendo o caso processado 
										administrativamente pela CALLIGO para aplicabilidade de penalidade ou não. </p>
					<p class="bold">6. HONORÁRIOS</p>
					<p>6.1. O pagamento dos honorários será feito pelo paciente somente através da 
										Plataforma CALLIGO, cujo valor será repassado diretamente ao (à) PROFISSIONAL, 
										descontado o custo operacional, que corresponde a 20% (vinte por cento) dos 
										honorários, por sessão.</p>
					<p>6.2. É expressamente proibido o pagamento e recebimento dos honorários fora 
										da Plataforma CALLIGO. </p>
					<p>6.3. O PROFISSIONAL receberá os honorários pelo não comparecimento do paciente 
										sem justificativa ou quando o paciente cancelar a sessão após as 24 (vinte e quatro) horas 
										do horário agendado. </p>
					<p>6.4. O pagamento dos honorários está sujeito à sessão completa, incluindo a nota 
										de prontuário.</p>
					<p>6.5. A cobrança de honorários pelo (a) PROFISSIONAL de forma diversa será 
										denunciada e passível de penalidade.</p>
					<p class="bold">7. DENÚNCIA </p>
					<p>Sendo constatada, tanto pelo (a) PACIENTE quanto pelo (a) PSICÓLOGO, a prática 
										de condutas inapropriadas – tais como, assédio, atos libidinosos e demais que violem as 
										condutas previstas no item 5 e seguintes dos presentes Termos de Uso -, a CALLIGO deve 
										ser imediatamente comunicada, após a sessão de psicoterapia, através de denúncia, 
										para apuração dos fatos.</p>
					<p class="bold">8. DA AVALIAÇÃO DO PACIENTE</p>
					<p>Ao final de toda sessão de psicoterapia, para a sua segurança, será 
										disponibilizado um breve relatório de avaliação da referida sessão para preenchimento 
										do (a) PROFISSIONAL, o qual não será divulgado publicamente. </p>
					<p>A mencionada avaliação é importante para melhorar as condições de trabalho,
										apurar eventuais condutas inapropriadas do paciente, oportunidade do paciente 
										oferecer elogios pelos serviços</p>
					<p class="bold">9. AUTORIZAÇÃO PARA RESTITUIÇÃO DE TRIBUTOS</p>
					<p>O (a) Profissional AUTORIZA a Calligo a pleitear pedido de restituição - total ou 
										parcial - de qualquer tributo indireto, pago a mais ou de forma indevida, conforme 
										dispõe o artigo 166 do Código Tributário Nacional. Fica autorizado, inclusive, o 
										recebimento dos valores restituídos.</p>
					<p>10. PRONTUÁRIOS PSICOLÓGICOS ARMAZENADOS</p>
					<p>O prontuário do Usuário Paciente será armazenado, de forma segura e 
										criptografada, na Plataforma.</p>
					<p>10.1. O Usuário Profissional terá acesso ao prontuário em 24 (vinte e quatro) 
										horas, enquanto estiver operando na Plataforma.</p>
					<p>10.2. Se o Usuário Profissional desligar-se da Plataforma, este não terá mais 
										acesso ao prontuário, que ficará lacrado e criptografado, até o retorno do psicólogo 
										responsável.</p>
					<p>10.3. O Usuário Paciente receberá um aviso da CALLIGO sobre a saída do 
										profissional responsável pelo seu atendimento da Plataforma, momento em que o 
										Usuário Paciente poderá autorizar, expressamente, a troca de psicólogo/profissional 
										responsável pelo seu atendimento e que este acesse o seu prontuário, para dar 
										continuidade ao seu tratamento.</p>
					<p>10.4. Se o Usuário Paciente optar, expressamente, pela troca de profissional 
										responsável pelo seu atendimento, este poderá autorizar o acesso àquele ao seu 
										prontuário, para dar continuidade ao seu tratamento.</p>
					<p>10.5. Qualquer serviço recebido do Usuário Profissional por um Supervisor 
										Técnico, deverá ser lançado pelo profissional de forma atualizada na nota de progresso 
										dentro do prontuário do Paciente, com as informações e orientações fornecidas pelo 
										Supervisor Técnico.</p>
					<p class="bold">11. DAS SITUAÇÕES DE RISCO</p>
					<p>Se houver apuração, por parte da Plataforma, juntamente com o Usuário 
										Profissional, Responsável Técnico e Supervisor (a), de situações em que há risco 
										iminente de vida do Usuário Paciente, a Plataforma acionará o Conselho Federal de 
										Psicologia para apuração das medidas a serem adotadas.</p>
					<p>11.1. Para a sua segurança, o Usuário Paciente poderá fornecer à Plataforma o 
										contato emergencial de algum ente próximo para que este seja acionado nas situações 
										de risco, mediante o preenchimento do formulário de Autorização de Transmissão de 
										Informações (ROI), no qual, expressamente, autorize a Plataforma a adoção de tal 
										medida.</p>
					<p class="bold">12. DA PROPRIEDADE INTELECTUAL DOS CONTEÚDOS CALLIGO - Com 
										observância dos termos e condições dos Termos, é concedida ao Usuário uma licença 
										não exclusiva, limitada, intransmissível, não sublicenciável, revogável e mundial para 
										acessar o conteúdo disponibilizado na Plataforma, e utilizá-los, incluindo para baixá-lo
										num dispositivo permitido, e para acessá-lo apenas para fins de utilização individual e 
										não comercial do Usuário.</p>
					<p>12.1. A CALLIGO reserva-se todos os direitos que não sejam aqui 
										expressamente conferidos sobre os serviços e os conteúdos da Plataforma. O Usuário 
										reconhece e acorda que a CALLIGO pode fazer cessar esta licença caso este infrinja 
										qualquer das obrigações previstas no item 4 e seguintes, assim como após o 
										cancelamento da assinatura e/ou cadastro do Usuário.</p>
					<p class="bold">13. DO PROCESSO DISCIPLINAR</p>
					<p>13.1. Nenhuma penalidade será aplicada pela CALLIGO sem que o 
										PROFISSIONAL tenha oportunidade de oferecer a mais ampla defesa, inclusive com a 
										assistência de advogado.</p>
					<p>13.2. Nenhuma ação disciplinar será instaurada sem que seja baseada em 
										denúncia oferecida por escrito, através do canal de denúncia da CALLIGO.</p>
					<p>13.3. Recebida a denúncia, a CALLIGO, terá 15 (quinze) dias úteis para notificar 
										o PROFISSIONAL, através da PLATAFORMA, dando-lhe a oportunidade de defesa.</p>
					<p>13.4. A partir da data de recebimento da notificação, o (a) PROFISSIONAL terá 
										o prazo de 15 (quinze) dias úteis para apresentar a defesa, através da plataforma 
										CALLIGO. (Ver manual de política interna da Calligo) </p>
					<p>13.5. O referido prazo começa a ser contado do primeiro dia útil 
										imediatamente seguinte ao do recebimento da notificação, não se considerando os
										sábados, domingos, feriados municipais de São Paulo/SP, nem as segundas e às terçasfeiras do Carnaval como dias úteis;</p>
					<p>13.6. PENALIDADES: Sendo julgada procedente a denúncia, a CALLIGO avaliará, 
										conforme a gravidade da conduta praticada pelo PROFISSIONAL, a penalidade cabível: 
										suspensão ou cancelamento da conta do PROFISSIONAL.</p>
					<p class="bold">14. DISPOSIÇÕES GERAIS</p>
					<p>O fato de a CALLIGO não insistir no cumprimento de qualquer disposição dos 
										presentes Termos, ou não o exigir, não pode ser interpretado com uma renúncia a 
										qualquer disposição ou direito.</p>
					<p>14.1. A CALLIGO não garante que a sua Plataforma será segura ou estará isenta 
										de erros ou vírus. O Usuário é responsável por configurar as suas 
										tecnologias de informação, os seus programas informáticos e o seu 
										navegador para acessar à Plataforma. O Usuário deverá utilizar o seu 
										próprio software de proteção contra vírus. (Ver sugestão de segurança)</p>
					<p>14.2. O Usuário manifesta a sua expressa ciência em relação à necessidade de 
										adequação de seus equipamentos, a interação de serviços e servidores 
										de telecomunicações de terceiros, capacidade de internet, navegadores, 
										manutenção de máquinas, entre outros fatores que não dizem respeito 
										ao controle da CALLIGO, para acesso à Plataforma. Assim, a CALLIGO não 
										se responsabiliza por eventuais falhas nesse sentido, que impossibilitem 
										ou dificultem o acesso à Plataforma.</p>
					<p>14.3. A CALLIGO também não será responsável por eventuais danos 
										suportados pelo Usuário em relação à interrupção das vídeo-chamadas de sessões de 
										terapia ou impossibilidade de acesso à Plataforma, pelas razões expostas nos itens 14.1 
										e 14.2.</p>
					<p class="bold">15. LEGISLAÇÃO E FORO</p>
										<p>Estes Termos são regidos de acordo com a legislação brasileira. Quaisquer 
										disputas ou controvérsias oriundas de quaisquer atos praticados no âmbito da utilização 
										da Plataforma pelos Usuários, inclusive com relação ao descumprimento dos Termos ou 
										pela violação dos direitos da CALLIGO, de outros Usuários e/ou de terceiros, inclusive 
										direitos de propriedade intelectual, de sigilo e de personalidade, serão processadas na 
										Comarca da Capital do Estado de São Paulo.</p>
			</div>
		</div>
	</div>
</div>
<Footer />