---
import ImgAsset from '../components/ImgAsset.astro';
---

<footer class="container-fluid">
  <div class="row desktop desktopFlex">
    <div class="col-md-2 d-flex flex-column justify-content-between">
      <svg
        class="logo primary"
        width="149"
        height="50"
        viewBox="0 0 149 50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M39.9966 22.2048C42.1669 19.1019 43.3185 15.4309 43.3185 11.6287C43.3185 7.82651 42.1669 4.15545 39.9523 1.00883C39.465 0.353282 38.7121 -0.040046 37.8705 0.0473602C36.7632 0.0910632 35.6559 0.265876 34.5485 0.571797C30.6507 1.57697 27.1073 3.84953 24.6269 6.95245C23.9625 7.78281 23.3424 8.70057 22.8109 9.61834C22.2794 8.70057 21.7036 7.82651 20.9949 6.95245C18.4702 3.84953 14.971 1.57697 11.0732 0.571797C9.96592 0.265876 8.8586 0.0910632 7.70698 0.00365705C6.86541 -0.040046 6.11243 0.309579 5.62521 0.965125C3.41056 4.11175 2.25894 7.7391 2.25894 11.585C2.25894 15.4309 3.45485 19.1019 5.62521 22.2048C2.25894 24.4337 0 28.2359 0 32.5625C0 39.3801 5.62521 44.9741 12.5792 44.9741C14.3066 44.9741 15.9898 44.6245 17.4957 44.0127C17.54 44.1438 17.5843 44.2312 17.6286 44.3623C18.1158 45.7171 18.6031 46.8534 19.1789 47.6837C19.8876 48.7326 21.0835 50 22.8552 50C24.6269 50 25.8228 48.7763 26.4872 47.7274C27.0187 46.8971 27.5502 45.8045 27.9932 44.4497C28.0375 44.2749 28.126 44.1001 28.1703 43.9253C29.6763 44.5371 31.3151 44.9304 33.0869 44.9304C39.9966 44.9304 45.6661 39.3801 45.6661 32.5188C45.5775 28.1922 43.3628 24.4337 39.9966 22.2048ZM28.2146 9.83685C30.1192 7.47689 32.7768 5.77247 35.7001 4.98581C36.0988 4.8984 36.4531 4.811 36.8518 4.72359C38.0477 6.82134 38.6678 9.1376 38.6678 11.585C38.6678 14.819 37.5605 17.8782 35.5673 20.3693C34.7257 20.1945 33.8841 20.1071 32.9983 20.1071C29.9864 20.1071 27.2402 21.156 25.1141 22.8604V18.2278C25.2027 15.1249 26.2657 12.2405 28.2146 9.83685ZM6.90971 11.585C6.90971 9.18131 7.52981 6.82134 8.72572 4.72359C9.12436 4.811 9.52299 4.8547 9.87734 4.98581C12.845 5.77247 15.5025 7.47689 17.3629 9.83685C19.3117 12.2405 20.3748 15.1686 20.4634 18.2716C20.4634 18.359 20.4634 18.4464 20.4634 18.4901V22.9478C18.293 21.1997 15.5468 20.1508 12.5349 20.1508C11.6933 20.1508 10.8518 20.2382 10.0545 20.413C8.01703 17.9219 6.90971 14.819 6.90971 11.585ZM4.65076 32.5625C4.65076 28.2359 8.1942 24.7396 12.5792 24.7396C16.8313 24.7396 20.3305 28.061 20.5077 32.2565C20.5077 32.344 20.5077 32.4314 20.5077 32.5188C20.5077 32.6499 20.5077 32.7373 20.5077 32.8684C20.3748 37.0639 16.8756 40.429 12.5792 40.429C8.1942 40.3853 4.65076 36.8891 4.65076 32.5625ZM22.8109 44.7993C22.5451 44.3186 22.1908 43.4882 21.7479 42.2208C21.6593 41.9149 21.5707 41.609 21.4821 41.3031C21.9693 40.8223 22.4123 40.2979 22.8109 39.7298C23.2095 40.2542 23.6082 40.7786 24.0954 41.2157C24.0068 41.5653 23.9182 41.9149 23.7853 42.3083C23.3867 43.5319 23.0766 44.3186 22.8109 44.7993ZM33.0426 40.3416C28.879 40.3416 25.4685 37.1513 25.1584 33.1306V31.8632C25.5128 27.8425 28.9233 24.6959 33.0426 24.6959C37.4276 24.6959 40.971 28.1922 40.971 32.5188C40.971 36.8017 37.4276 40.3416 33.0426 40.3416Z"
          fill="#5C02FF">
        </path>
        <path
          d="M32.9983 27.4497C30.1635 27.4497 27.9046 29.7223 27.9046 32.4756C27.9046 35.2726 30.2078 37.5014 32.9983 37.5014C35.833 37.5014 38.092 35.2289 38.092 32.4756C38.092 29.7223 35.7888 27.4497 32.9983 27.4497Z"
          fill="#5C02FF">
        </path>
        <path
          d="M12.5792 27.4497C9.74443 27.4497 7.48549 29.7223 7.48549 32.4756C7.48549 35.2726 9.78872 37.5014 12.5792 37.5014C15.3696 37.5014 17.6729 35.2289 17.6729 32.4756C17.6729 29.7223 15.4139 27.4497 12.5792 27.4497Z"
          fill="#5C02FF">
        </path>
        <path
          d="M63.2061 33.743C58.2896 33.743 54.7018 30.3342 54.7018 25.6142C54.7018 20.8943 58.2453 17.5729 63.2061 17.5729C67.2367 17.5729 70.3373 19.9328 71.2231 23.5165C71.3117 23.9098 71.0016 24.3032 70.603 24.3032H68.034C67.1039 24.3032 66.1737 23.9535 65.5979 23.298C65.0221 22.6424 64.1805 22.2928 63.2061 22.2928C61.3458 22.2928 60.017 23.6913 60.017 25.6579C60.017 27.6246 61.3458 29.0668 63.2061 29.0668C64.1805 29.0668 65.0221 28.6735 65.5979 27.9742C66.218 27.2313 67.1482 26.8379 68.1226 26.8379H70.6473C71.0459 26.8379 71.356 27.2313 71.2674 27.6246C70.4258 31.2956 67.281 33.743 63.2061 33.743Z"
          fill="#5C02FF">
        </path>
        <path
          d="M90.1805 18.6655V32.6504C90.1805 33.0001 89.9147 33.2623 89.5603 33.2623H86.4598C86.1941 33.2623 85.9726 33.1312 85.884 32.9127C85.7512 32.563 85.3082 32.4319 84.9982 32.6504C83.8466 33.3934 82.4735 33.7867 80.9675 33.7867C76.2725 33.7867 72.9062 30.3779 72.9062 25.6579C72.9062 20.938 76.2725 17.6166 80.9675 17.6166C82.5178 17.6166 83.9351 18.0536 85.0868 18.8403C85.3968 19.0588 85.7954 18.9277 85.9726 18.578L86.0169 18.4469C86.1055 18.2284 86.327 18.0973 86.5927 18.0973H89.5603C89.9147 18.0536 90.1805 18.3158 90.1805 18.6655ZM85.1753 25.6579C85.1753 23.6913 83.7137 22.2054 81.7205 22.2054C79.7273 22.2054 78.2656 23.6913 78.2656 25.6579C78.2656 27.6246 79.7273 29.1105 81.7205 29.1105C83.7137 29.1105 85.1753 27.6246 85.1753 25.6579Z"
          fill="#5C02FF">
        </path>
        <path
          d="M92.4395 12.5907H96.4701C96.8245 12.5907 97.0902 12.8529 97.0902 13.2025V32.6067C97.0902 32.9563 96.8245 33.2186 96.4701 33.2186H92.4395C92.0851 33.2186 91.8194 32.9563 91.8194 32.6067V13.2025C91.8194 12.8529 92.0851 12.5907 92.4395 12.5907Z"
          fill="#5C02FF">
        </path>
        <path
          d="M99.3936 12.5907H103.424C103.779 12.5907 104.044 12.8529 104.044 13.2025V32.6067C104.044 32.9563 103.779 33.2186 103.424 33.2186H99.3936C99.0392 33.2186 98.7735 32.9563 98.7735 32.6067V13.2025C98.7292 12.8529 99.0392 12.5907 99.3936 12.5907Z"
          fill="#5C02FF">
        </path>
        <path
          d="M106.303 19.6269H110.334C110.688 19.6269 110.954 19.8891 110.954 20.2387V32.563C110.954 32.9126 110.688 33.1749 110.334 33.1749H106.303C105.949 33.1749 105.683 32.9126 105.683 32.563V20.2824C105.639 19.9328 105.949 19.6269 106.303 19.6269ZM106.348 12.5907H110.29C110.644 12.5907 110.91 12.8529 110.91 13.2025V17.0921C110.91 17.4417 110.644 17.704 110.29 17.704H106.348C105.993 17.704 105.727 17.4417 105.727 17.0921V13.2025C105.683 12.8529 105.993 12.5907 106.348 12.5907Z"
          fill="#5C02FF">
        </path>
        <path
          d="M128.76 18.0535C129.114 18.0535 129.38 18.3157 129.38 18.6653V31.5577C129.38 36.3214 126.191 39.2932 121.141 39.2932C117.111 39.2932 114.187 37.4577 113.213 34.3547C113.08 33.9614 113.39 33.5244 113.833 33.5244H117.731C117.952 33.5244 118.174 33.6555 118.306 33.8303C118.794 34.6607 119.99 35.054 121.141 35.054C122.913 35.054 124.33 33.9177 124.33 32.1259V31.6889C123.179 32.4318 121.806 32.8251 120.3 32.8251C115.87 32.8251 112.593 29.5911 112.593 25.1771C112.593 20.8505 115.87 17.5291 120.3 17.5291C121.894 17.5291 123.356 18.0098 124.596 18.8401C124.906 19.0587 125.349 18.9713 125.526 18.6216L125.659 18.3594C125.792 18.1409 125.969 18.0098 126.235 18.0098H128.76V18.0535ZM121.141 28.5422C123.046 28.5422 124.419 27.1437 124.419 25.2208C124.419 23.2979 123.046 21.8994 121.141 21.8994C119.237 21.8994 117.864 23.2979 117.864 25.2208C117.864 27.1437 119.237 28.5422 121.141 28.5422Z"
          fill="#5C02FF">
        </path>
        <path
          d="M131.019 25.6579C131.019 20.938 134.651 17.5729 139.656 17.5729C144.661 17.5729 148.293 20.938 148.293 25.6579C148.293 30.3342 144.661 33.743 139.656 33.743C134.606 33.743 131.019 30.3342 131.019 25.6579ZM139.612 29.0668C141.56 29.0668 142.934 27.6683 142.934 25.6579C142.934 23.6476 141.56 22.2491 139.612 22.2491C137.663 22.2491 136.29 23.6476 136.29 25.6579C136.29 27.6683 137.707 29.0668 139.612 29.0668Z"
          fill="#5C02FF">
        </path>
      </svg>
      <span class="body2">© Calligo 2021</span>
    </div>
    <div class="col-md-2">
      <h4 class="body1 bold">Sobre</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="/" class="nav-link text-black">Quero terapia</a>
        </li>
        <li class="nav-item">
          <a href="/therapist" class="nav-link text-black">Sou terapeuta</a>
        </li>
        <li class="nav-item">
          <a href="/manifest" class="nav-link text-black">Manifesto</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4 class="body1 bold">Suporte</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="/help" class="nav-link text-black">Ajuda</a>
        </li>
      </ul>
    </div>
    <div class="col-md-2">
      <h4 class="body1 bold">Legal</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="/terms" class="nav-link text-black">Termos de uso</a>
        </li>
        <li class="nav-item">
          <a href="/privacy" class="nav-link text-black">
            Políticas de Privacidade
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col">
          <ul class="nav social">
            <li>
              <a target="_blank" href="https://www.instagram.com/calligobr/">
                <svg
                  width="30"
                  height="30"
                  viewBox="0 0 30 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path
                      d="M15.005 7.29749C10.7512 7.29749 7.3075 10.745 7.3075 14.995C7.3075 19.2487 10.755 22.6925 15.005 22.6925C19.2587 22.6925 22.7025 19.245 22.7025 14.995C22.7025 10.7412 19.255 7.29749 15.005 7.29749ZM15.005 19.9912C12.2437 19.9912 10.0087 17.755 10.0087 14.995C10.0087 12.235 12.245 9.99874 15.005 9.99874C17.765 9.99874 20.0012 12.235 20.0012 14.995C20.0025 17.755 17.7662 19.9912 15.005 19.9912Z"
                      fill="#4C4D5D">
                    </path>
                    <path
                      d="M21.1843 0.0969189C18.4243 -0.0318311 11.5881 -0.0255811 8.82556 0.0969189C6.39806 0.210669 4.25681 0.796919 2.53056 2.52317C-0.354443 5.40817 0.0143075 9.29567 0.0143075 14.9969C0.0143075 20.8319 -0.310692 24.6294 2.53056 27.4707C5.42681 30.3657 9.37056 29.9869 15.0043 29.9869C20.7843 29.9869 22.7793 29.9907 24.8231 29.1994C27.6018 28.1207 29.6993 25.6369 29.9043 21.1757C30.0343 18.4144 30.0268 11.5794 29.9043 8.81692C29.6568 3.55067 26.8306 0.356919 21.1843 0.0969189ZM25.5531 25.5619C23.6618 27.4532 21.0381 27.2844 14.9681 27.2844C8.71806 27.2844 6.21181 27.3769 4.38306 25.5432C2.27681 23.4469 2.65806 20.0807 2.65806 14.9769C2.65806 8.07067 1.94931 3.09692 8.88056 2.74192C10.4731 2.68567 10.9418 2.66692 14.9506 2.66692L15.0068 2.70442C21.6681 2.70442 26.8943 2.00692 27.2081 8.93692C27.2793 10.5182 27.2956 10.9932 27.2956 14.9957C27.2943 21.1732 27.4118 23.6944 25.5531 25.5619Z"
                      fill="#4C4D5D">
                    </path>
                    <path
                      d="M23.0075 8.79257C24.0009 8.79257 24.8062 7.98724 24.8062 6.99382C24.8062 6.0004 24.0009 5.19507 23.0075 5.19507C22.0141 5.19507 21.2087 6.0004 21.2087 6.99382C21.2087 7.98724 22.0141 8.79257 23.0075 8.79257Z"
                      fill="#4C4D5D">
                    </path>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect width="30" height="30" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.facebook.com/calligobr">
                <svg
                  width="31"
                  height="30"
                  viewBox="0 0 31 30"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0)">
                    <path
                      d="M4.25 30H15.5V19.6875H11.75V15H15.5V11.25C15.5 8.1425 18.0175 5.625 21.125 5.625H24.875V10.3125H23C21.965 10.3125 21.125 10.215 21.125 11.25V15H25.8125L23.9375 19.6875H21.125V30H26.75C28.8175 30 30.5 28.3175 30.5 26.25V3.75C30.5 1.68125 28.8175 0 26.75 0H4.25C2.18125 0 0.5 1.68125 0.5 3.75V26.25C0.5 28.3175 2.18125 30 4.25 30Z"
                      fill="#4C4D5D">
                    </path>
                  </g>
                  <defs>
                    <clipPath id="clip0">
                      <rect
                        width="30"
                        height="30"
                        fill="white"
                        transform="translate(0.5)">
                      </rect>
                    </clipPath>
                  </defs>
                </svg>
              </a>
            </li>
            <!-- <li>
							<a target="_blank" href="#">
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M26.9175 8.89125C28.1375 8.025 29.1637 6.94375 30 5.69875V5.6975C28.8837 6.18625 27.6962 6.51125 26.4562 6.66875C27.7312 5.9075 28.705 4.71125 29.1625 3.27C27.9737 3.97875 26.6612 4.47875 25.2625 4.75875C24.1337 3.55625 22.525 2.8125 20.77 2.8125C17.365 2.8125 14.6237 5.57625 14.6237 8.96375C14.6237 9.45125 14.665 9.92 14.7662 10.3663C9.65375 10.1163 5.12875 7.66625 2.08875 3.9325C1.55875 4.85375 1.24625 5.9075 1.24625 7.04125C1.24625 9.17125 2.3425 11.0588 3.97875 12.1525C2.99 12.1337 2.02125 11.8463 1.2 11.395V11.4625C1.2 14.4513 3.33125 16.9338 6.1275 17.5063C5.62625 17.6438 5.08125 17.7087 4.515 17.7087C4.12125 17.7087 3.72375 17.6863 3.35125 17.6038C4.1475 20.0387 6.41 21.83 9.0975 21.8888C7.005 23.525 4.3475 24.5112 1.47125 24.5112C0.9675 24.5112 0.48375 24.4888 0 24.4275C2.725 26.1838 5.9525 27.1875 9.435 27.1875C20.2887 27.1875 27.3625 18.1325 26.9175 8.89125Z" fill="#4C4D5D"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="30" height="30" fill="white"/>
									</clipPath>
									</defs>
								</svg>
							</a>
						</li> -->
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p class="body1">
            Atenção: Este site não oferece tratamento ou aconselhamento imediato
            para pessoas em crise suicida. Em caso de crise, ligue para 188
            (CVV) ou acesse o site www.cvv.org.br. Em caso de emergência,
            procure atendimento em um hospital mais próximo.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-mobile mobile">
    <div class="row justify-content-start">
      <div class="col justify-content-center">
        <ul class="nav social justify-content-center">
          <li>
            <a target="_blank" href="https://www.instagram.com/calligobr/">
              <svg
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M15.005 7.29749C10.7512 7.29749 7.3075 10.745 7.3075 14.995C7.3075 19.2487 10.755 22.6925 15.005 22.6925C19.2587 22.6925 22.7025 19.245 22.7025 14.995C22.7025 10.7412 19.255 7.29749 15.005 7.29749ZM15.005 19.9912C12.2437 19.9912 10.0087 17.755 10.0087 14.995C10.0087 12.235 12.245 9.99874 15.005 9.99874C17.765 9.99874 20.0012 12.235 20.0012 14.995C20.0025 17.755 17.7662 19.9912 15.005 19.9912Z"
                    fill="#4C4D5D">
                  </path>
                  <path
                    d="M21.1843 0.0969189C18.4243 -0.0318311 11.5881 -0.0255811 8.82556 0.0969189C6.39806 0.210669 4.25681 0.796919 2.53056 2.52317C-0.354443 5.40817 0.0143075 9.29567 0.0143075 14.9969C0.0143075 20.8319 -0.310692 24.6294 2.53056 27.4707C5.42681 30.3657 9.37056 29.9869 15.0043 29.9869C20.7843 29.9869 22.7793 29.9907 24.8231 29.1994C27.6018 28.1207 29.6993 25.6369 29.9043 21.1757C30.0343 18.4144 30.0268 11.5794 29.9043 8.81692C29.6568 3.55067 26.8306 0.356919 21.1843 0.0969189ZM25.5531 25.5619C23.6618 27.4532 21.0381 27.2844 14.9681 27.2844C8.71806 27.2844 6.21181 27.3769 4.38306 25.5432C2.27681 23.4469 2.65806 20.0807 2.65806 14.9769C2.65806 8.07067 1.94931 3.09692 8.88056 2.74192C10.4731 2.68567 10.9418 2.66692 14.9506 2.66692L15.0068 2.70442C21.6681 2.70442 26.8943 2.00692 27.2081 8.93692C27.2793 10.5182 27.2956 10.9932 27.2956 14.9957C27.2943 21.1732 27.4118 23.6944 25.5531 25.5619Z"
                    fill="#4C4D5D">
                  </path>
                  <path
                    d="M23.0075 8.79257C24.0009 8.79257 24.8062 7.98724 24.8062 6.99382C24.8062 6.0004 24.0009 5.19507 23.0075 5.19507C22.0141 5.19507 21.2087 6.0004 21.2087 6.99382C21.2087 7.98724 22.0141 8.79257 23.0075 8.79257Z"
                    fill="#4C4D5D">
                  </path>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect width="30" height="30" fill="white"></rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </li>
          <li>
            <a target="_blank" href="https://www.facebook.com/calligobr">
              <svg
                width="31"
                height="30"
                viewBox="0 0 31 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0)">
                  <path
                    d="M4.25 30H15.5V19.6875H11.75V15H15.5V11.25C15.5 8.1425 18.0175 5.625 21.125 5.625H24.875V10.3125H23C21.965 10.3125 21.125 10.215 21.125 11.25V15H25.8125L23.9375 19.6875H21.125V30H26.75C28.8175 30 30.5 28.3175 30.5 26.25V3.75C30.5 1.68125 28.8175 0 26.75 0H4.25C2.18125 0 0.5 1.68125 0.5 3.75V26.25C0.5 28.3175 2.18125 30 4.25 30Z"
                    fill="#4C4D5D">
                  </path>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <rect
                      width="30"
                      height="30"
                      fill="white"
                      transform="translate(0.5)">
                    </rect>
                  </clipPath>
                </defs>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-5 offset-1">
        <h4 class="body1 bold">Sobre</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/" class="nav-link text-black">Quero terapia</a>
          </li>
          <li class="nav-item">
            <a href="/therapist" class="nav-link text-black">Sou terapeuta</a>
          </li>
          <li class="nav-item">
            <a href="/manifest" class="nav-link text-black">Manifesto</a>
          </li>
        </ul>
      </div>
      <div class="col-5 offset-1">
        <h4 class="body1 bold">Suporte</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/help" class="nav-link text-black">Ajuda</a>
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="row justify-content-start">
      <div class="col-10 offset-1">
        <h4 class="body1 bold">Legal</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/terms" class="nav-link text-black">Termos de uso</a>
          </li>
          <li class="nav-item">
            <a href="/privacy" class="nav-link text-black">
              Políticas de Privacidade
            </a>
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="row justify-content-start">
      <div class="row">
        <div class="col-10 offset-1">
          <p class="body1">
            Atenção: Este site não oferece tratamento ou aconselhamento imediato
            para pessoas em crise suicida. Em caso de crise, ligue para 188
            (CVV) ou acesse o site www.cvv.org.br. Em caso de emergência,
            procure atendimento em um hospital mais próximo.
          </p>
        </div>
      </div>
    </div>
    <br /><br />
    <div class="row justify-content-start">
      <div class="col-10 offset-1 text-center">
        <svg
          class="logo primary"
          width="149"
          height="50"
          viewBox="0 0 149 50"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M39.9966 22.2048C42.1669 19.1019 43.3185 15.4309 43.3185 11.6287C43.3185 7.82651 42.1669 4.15545 39.9523 1.00883C39.465 0.353282 38.7121 -0.040046 37.8705 0.0473602C36.7632 0.0910632 35.6559 0.265876 34.5485 0.571797C30.6507 1.57697 27.1073 3.84953 24.6269 6.95245C23.9625 7.78281 23.3424 8.70057 22.8109 9.61834C22.2794 8.70057 21.7036 7.82651 20.9949 6.95245C18.4702 3.84953 14.971 1.57697 11.0732 0.571797C9.96592 0.265876 8.8586 0.0910632 7.70698 0.00365705C6.86541 -0.040046 6.11243 0.309579 5.62521 0.965125C3.41056 4.11175 2.25894 7.7391 2.25894 11.585C2.25894 15.4309 3.45485 19.1019 5.62521 22.2048C2.25894 24.4337 0 28.2359 0 32.5625C0 39.3801 5.62521 44.9741 12.5792 44.9741C14.3066 44.9741 15.9898 44.6245 17.4957 44.0127C17.54 44.1438 17.5843 44.2312 17.6286 44.3623C18.1158 45.7171 18.6031 46.8534 19.1789 47.6837C19.8876 48.7326 21.0835 50 22.8552 50C24.6269 50 25.8228 48.7763 26.4872 47.7274C27.0187 46.8971 27.5502 45.8045 27.9932 44.4497C28.0375 44.2749 28.126 44.1001 28.1703 43.9253C29.6763 44.5371 31.3151 44.9304 33.0869 44.9304C39.9966 44.9304 45.6661 39.3801 45.6661 32.5188C45.5775 28.1922 43.3628 24.4337 39.9966 22.2048ZM28.2146 9.83685C30.1192 7.47689 32.7768 5.77247 35.7001 4.98581C36.0988 4.8984 36.4531 4.811 36.8518 4.72359C38.0477 6.82134 38.6678 9.1376 38.6678 11.585C38.6678 14.819 37.5605 17.8782 35.5673 20.3693C34.7257 20.1945 33.8841 20.1071 32.9983 20.1071C29.9864 20.1071 27.2402 21.156 25.1141 22.8604V18.2278C25.2027 15.1249 26.2657 12.2405 28.2146 9.83685ZM6.90971 11.585C6.90971 9.18131 7.52981 6.82134 8.72572 4.72359C9.12436 4.811 9.52299 4.8547 9.87734 4.98581C12.845 5.77247 15.5025 7.47689 17.3629 9.83685C19.3117 12.2405 20.3748 15.1686 20.4634 18.2716C20.4634 18.359 20.4634 18.4464 20.4634 18.4901V22.9478C18.293 21.1997 15.5468 20.1508 12.5349 20.1508C11.6933 20.1508 10.8518 20.2382 10.0545 20.413C8.01703 17.9219 6.90971 14.819 6.90971 11.585ZM4.65076 32.5625C4.65076 28.2359 8.1942 24.7396 12.5792 24.7396C16.8313 24.7396 20.3305 28.061 20.5077 32.2565C20.5077 32.344 20.5077 32.4314 20.5077 32.5188C20.5077 32.6499 20.5077 32.7373 20.5077 32.8684C20.3748 37.0639 16.8756 40.429 12.5792 40.429C8.1942 40.3853 4.65076 36.8891 4.65076 32.5625ZM22.8109 44.7993C22.5451 44.3186 22.1908 43.4882 21.7479 42.2208C21.6593 41.9149 21.5707 41.609 21.4821 41.3031C21.9693 40.8223 22.4123 40.2979 22.8109 39.7298C23.2095 40.2542 23.6082 40.7786 24.0954 41.2157C24.0068 41.5653 23.9182 41.9149 23.7853 42.3083C23.3867 43.5319 23.0766 44.3186 22.8109 44.7993ZM33.0426 40.3416C28.879 40.3416 25.4685 37.1513 25.1584 33.1306V31.8632C25.5128 27.8425 28.9233 24.6959 33.0426 24.6959C37.4276 24.6959 40.971 28.1922 40.971 32.5188C40.971 36.8017 37.4276 40.3416 33.0426 40.3416Z"
            fill="#5C02FF">
          </path>
          <path
            d="M32.9983 27.4497C30.1635 27.4497 27.9046 29.7223 27.9046 32.4756C27.9046 35.2726 30.2078 37.5014 32.9983 37.5014C35.833 37.5014 38.092 35.2289 38.092 32.4756C38.092 29.7223 35.7888 27.4497 32.9983 27.4497Z"
            fill="#5C02FF">
          </path>
          <path
            d="M12.5792 27.4497C9.74443 27.4497 7.48549 29.7223 7.48549 32.4756C7.48549 35.2726 9.78872 37.5014 12.5792 37.5014C15.3696 37.5014 17.6729 35.2289 17.6729 32.4756C17.6729 29.7223 15.4139 27.4497 12.5792 27.4497Z"
            fill="#5C02FF">
          </path>
          <path
            d="M63.2061 33.743C58.2896 33.743 54.7018 30.3342 54.7018 25.6142C54.7018 20.8943 58.2453 17.5729 63.2061 17.5729C67.2367 17.5729 70.3373 19.9328 71.2231 23.5165C71.3117 23.9098 71.0016 24.3032 70.603 24.3032H68.034C67.1039 24.3032 66.1737 23.9535 65.5979 23.298C65.0221 22.6424 64.1805 22.2928 63.2061 22.2928C61.3458 22.2928 60.017 23.6913 60.017 25.6579C60.017 27.6246 61.3458 29.0668 63.2061 29.0668C64.1805 29.0668 65.0221 28.6735 65.5979 27.9742C66.218 27.2313 67.1482 26.8379 68.1226 26.8379H70.6473C71.0459 26.8379 71.356 27.2313 71.2674 27.6246C70.4258 31.2956 67.281 33.743 63.2061 33.743Z"
            fill="#5C02FF">
          </path>
          <path
            d="M90.1805 18.6655V32.6504C90.1805 33.0001 89.9147 33.2623 89.5603 33.2623H86.4598C86.1941 33.2623 85.9726 33.1312 85.884 32.9127C85.7512 32.563 85.3082 32.4319 84.9982 32.6504C83.8466 33.3934 82.4735 33.7867 80.9675 33.7867C76.2725 33.7867 72.9062 30.3779 72.9062 25.6579C72.9062 20.938 76.2725 17.6166 80.9675 17.6166C82.5178 17.6166 83.9351 18.0536 85.0868 18.8403C85.3968 19.0588 85.7954 18.9277 85.9726 18.578L86.0169 18.4469C86.1055 18.2284 86.327 18.0973 86.5927 18.0973H89.5603C89.9147 18.0536 90.1805 18.3158 90.1805 18.6655ZM85.1753 25.6579C85.1753 23.6913 83.7137 22.2054 81.7205 22.2054C79.7273 22.2054 78.2656 23.6913 78.2656 25.6579C78.2656 27.6246 79.7273 29.1105 81.7205 29.1105C83.7137 29.1105 85.1753 27.6246 85.1753 25.6579Z"
            fill="#5C02FF">
          </path>
          <path
            d="M92.4395 12.5907H96.4701C96.8245 12.5907 97.0902 12.8529 97.0902 13.2025V32.6067C97.0902 32.9563 96.8245 33.2186 96.4701 33.2186H92.4395C92.0851 33.2186 91.8194 32.9563 91.8194 32.6067V13.2025C91.8194 12.8529 92.0851 12.5907 92.4395 12.5907Z"
            fill="#5C02FF">
          </path>
          <path
            d="M99.3936 12.5907H103.424C103.779 12.5907 104.044 12.8529 104.044 13.2025V32.6067C104.044 32.9563 103.779 33.2186 103.424 33.2186H99.3936C99.0392 33.2186 98.7735 32.9563 98.7735 32.6067V13.2025C98.7292 12.8529 99.0392 12.5907 99.3936 12.5907Z"
            fill="#5C02FF">
          </path>
          <path
            d="M106.303 19.6269H110.334C110.688 19.6269 110.954 19.8891 110.954 20.2387V32.563C110.954 32.9126 110.688 33.1749 110.334 33.1749H106.303C105.949 33.1749 105.683 32.9126 105.683 32.563V20.2824C105.639 19.9328 105.949 19.6269 106.303 19.6269ZM106.348 12.5907H110.29C110.644 12.5907 110.91 12.8529 110.91 13.2025V17.0921C110.91 17.4417 110.644 17.704 110.29 17.704H106.348C105.993 17.704 105.727 17.4417 105.727 17.0921V13.2025C105.683 12.8529 105.993 12.5907 106.348 12.5907Z"
            fill="#5C02FF">
          </path>
          <path
            d="M128.76 18.0535C129.114 18.0535 129.38 18.3157 129.38 18.6653V31.5577C129.38 36.3214 126.191 39.2932 121.141 39.2932C117.111 39.2932 114.187 37.4577 113.213 34.3547C113.08 33.9614 113.39 33.5244 113.833 33.5244H117.731C117.952 33.5244 118.174 33.6555 118.306 33.8303C118.794 34.6607 119.99 35.054 121.141 35.054C122.913 35.054 124.33 33.9177 124.33 32.1259V31.6889C123.179 32.4318 121.806 32.8251 120.3 32.8251C115.87 32.8251 112.593 29.5911 112.593 25.1771C112.593 20.8505 115.87 17.5291 120.3 17.5291C121.894 17.5291 123.356 18.0098 124.596 18.8401C124.906 19.0587 125.349 18.9713 125.526 18.6216L125.659 18.3594C125.792 18.1409 125.969 18.0098 126.235 18.0098H128.76V18.0535ZM121.141 28.5422C123.046 28.5422 124.419 27.1437 124.419 25.2208C124.419 23.2979 123.046 21.8994 121.141 21.8994C119.237 21.8994 117.864 23.2979 117.864 25.2208C117.864 27.1437 119.237 28.5422 121.141 28.5422Z"
            fill="#5C02FF">
          </path>
          <path
            d="M131.019 25.6579C131.019 20.938 134.651 17.5729 139.656 17.5729C144.661 17.5729 148.293 20.938 148.293 25.6579C148.293 30.3342 144.661 33.743 139.656 33.743C134.606 33.743 131.019 30.3342 131.019 25.6579ZM139.612 29.0668C141.56 29.0668 142.934 27.6683 142.934 25.6579C142.934 23.6476 141.56 22.2491 139.612 22.2491C137.663 22.2491 136.29 23.6476 136.29 25.6579C136.29 27.6683 137.707 29.0668 139.612 29.0668Z"
            fill="#5C02FF">
          </path>
        </svg>
        <br /><br />
        <span class="body2">© Calligo 2021</span>
      </div>
    </div>
    <br /><br />
  </div>
</footer>
