---
import '../styles/app/main.scss';

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="format-detection" content="telephone=no" />
  <link href="favicon.png" type="image/x-icon" rel="icon" />

  <title>{title ? `${title} - Calligo` : 'Calligo'}</title>
  <meta name="description" content={description} />

  <!--
    
  FONTS
  TODO: Check if all fonts are used
  -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Slabo+27px|Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900|Libre+Baskerville:ital,wght@0,400;0,700;1,400|Material+Icons|Material+Icons+Outlined&display=swap"
    rel="stylesheet"
  />
  <scrip
    src="https://kit.fontawesome.com/491335a88c.js"
    crossorigin="anonymous">
  </scrip>
  <script>
    import jQuery from 'jquery';
    // Needed for Bootstrap 5 events to work
    window['jQuery'] = jQuery;
    // shortcut for devs :)
    window['jq'] = jQuery;
  </script>

  <!-- 
  TODO: Create Web app manifest and enable it (see: https://developer.mozilla.org/en-US/docs/Web/Manifest)
  <link rel="manifest" href="site.webmanifest">

  TODO: Check what other favicon formats and tags are needed
  -->
  <link rel="apple-touch-icon" href="favicon.png" />

  <!--
    CHECK IF THIS ARE STILL NEEDED:
    
    <script src="https://cdn.ckeditor.com/ckeditor5/19.0.0/classic/ckeditor.js">
    </script>
  -->
</head>
