@import 'variables';
@import 'speciality-tag';
@import 'footer';
@import 'login';
@import 'intro';
@import 'forms';
@import 'register';
@import 'home_steps';
@import 'sidebar';
@import 'steps';
@import 'lists';
@import 'custom_popover';
@import 'buttons';
@import 'agenda_box';
@import 'calendar';
@import 'clients';
@import 'records';
@import 'block-modal';
@import 'patient-modal';
