.time-lock {
    &__modal {
        max-width: 360px;
    }
}

.time-unlock {
    &__modal {
        max-width: 360px;

        .modal-header {
            border-bottom: 0;
        }

        .modal-footer {
            border-top: 0;
        }
    }
}

.toast-container {
    display: none;
    z-index: 99999;
}

.toast-title {
    margin-left: 5px;
}

.toast-close {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}