---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import type { CamelCase } from 'type-fest';

interface Props {
  title: string;
  description?: string;
  id: CamelCase<string>;
}

const { title, description, id } = Astro.props;
---

<!doctype html>
<html lang="pt-BR">
  <Head title={title} description={description} />
  <body id={id}>
    <Header />
    <slot />
    <Footer />
    <!-- <script is:inline src="/js/Vendors.js"></script>
    <script src="/src/app/main.js"></script> -->
  </body>
</html>
